PRODIGY_ENV=production
PRODIGY_TEST_MODE=0
PRODIGY_FIREBASE_PROJECT_ID=prodigy-rc-competitions
PRODIGY_STAGING_FIREBASE_PROJECT_ID=prodigy-rc-competitions-staging
PRODIGY_LOCAL_URL=http://localhost:5000
